.profile__edit-button {
  min-width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #FFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px)  {
  .profile__edit-button {
    margin-bottom: 8px;
    min-width: 18px;
    height: 18px;
  }
}
