.modal__submit-button_inactive {
  pointer-events: none;
  user-select: none;
  border: 1px solid#C4C4C4 ;
  color: #C4C4C4;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 0 0 37px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px)  {
  .modal__submit-button {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 17px;
  }
}