.modal__container {
  margin: 0 59px;
  padding: 0 36px;
  max-width: 430px;
  background: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 1;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 767px)  {
  .modal__container {
    margin: 0 19px;
    padding: 0 22px;
  }
}

