.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

@media screen and (max-width: 767px)  {
  .profile__avatar {
    margin-bottom: 27px;
  }
}
